 
<table class="table table-striped">
    <thead>
        <tr>
            <td colspan="1000">
                <ul style="padding:0px; list-style:none;">
                    <li style="float:left;">
                        <div class="dropdown" style="margin-right:6px;">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    name="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Hành động
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="Delete()">Xóa</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><button type="button" class="btn btn-default">Thêm mới</button></li>
                </ul>
                 
            </td>
        </tr>
        <tr>
            <th>
                <input type="checkbox" ng-model="IsCheckAll" ng-change="CheckAll_Click()" />
            </th>
            <th ng-repeat="item in GridOption.columns" ng-click="Sort(item.field)">
                <span ng-bind="item.title"></span>
            </th>
        </tr>
        
    </thead>
    <tbody>
        <tr ng-repeat="item in GridOption.Data">
            <td>
                <input type="checkbox" ng-model="item.Checked"   />
            </td>
            <td ng-repeat="cell in GridOption.columns" ng-bind="item.{{cell.field}}"></td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination pagination-sm" style="margin:0px;">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="item in GridOption.pages">
            <a href="#" ng-bind="item+1" ng-click="ReloadData(item)"></a>
        </li>

        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

</nav>
<span class="pull-left">
    Trang: {{page+1}} / {{GridOption.pages.length}} - Tổng {{Count}} bản ghi
    <span class="glyphicon glyphicon-refresh" ng-click="Refresh()"></span>
</span>


